.header_wrp {
    height: 60px;
    background-color: #fff;
    width: 100%;
}
.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}