.main {
  background-color: #a9bed6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  padding: 0 12px;
}

.form_container {
  margin-top: 50px;
  border-radius: 8px;
  background-color: #fafbfc;
  margin-bottom: 12px;
  padding: 10px;
}
.input {
  width: 100%;
  padding: 2px 2px;
}
.task_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #a9bed6;
  border-radius : 3px;
  margin-bottom: 8px;
}
.task_text {
  color: #111;
  flex: 1;
  padding: 8px 6px;
  margin: 0px;
  font-size: 15px;
}
.line_through {
  text-decoration: line-through;
}
.check_box:hover {
  cursor: pointer;
}
.task_icon {
  display: flex;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  user-select: none;
}
.task_icon:hover {
  color: #8a00f3;
}
.icon_edit{

}
.icon_remove{

}
.tasks_container {
  background-color: #fafbfc;
  padding: 12px;
  border-radius: 12px;
}



